#video-player{
  position: relative;
  background-color:red;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.thumbnail-container{
  position: absolute;
  background-color:green;
  width: 150px;
  height: 100px;
  top: 100%;
}

#progress-bar{
  background-color: blue;
  height: 30px;
  width: 1px;
  transition: all 500ms;
}

